<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="commom::title('首页')"></head>
    <style>
        .top-panel {
            border: 1px solid #eceff9;
            border-radius: 5px;
            text-align: center;
        }
        .top-panel > .layui-card-body{
            height: 60px;
        }
        .top-panel-number{
            line-height:60px;
            font-size: 30px;
            border-right:1px solid #eceff9;
        }
        .top-panel-tips{
            line-height:30px;
            font-size: 12px
        }
    </style>
</head>
<body>
<div class="layuimini-main">

    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12 layui-col-md12">
            <div class="layui-card top-panel">
                <div class="layui-card-header top-panel-number">系统当前时间</div>
                <div class="layui-card-body">
                    <div class="layui-row ">
                        <div class="top-panel-number" id="datetime">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12 layui-col-md9">
            <div id="echarts-records" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
        </div>

        <div class="layui-col-xs12 layui-col-md3">
            <div id="echarts-pies" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
        </div>
    </div>



</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/static/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/lay-config.js(v=1.0.4)}" charset="utf-8"></script>
<script>

    setInterval("document.getElementById('datetime').innerHTML=new Date().toLocaleString();", 1000);
    function sendPrePwdRequest() {

        $.ajax({
            type:'GET',
            url:'/root/batchDelHealthdetail',
            success:function(data){
                console.log()
                layui.use(['layer', 'echarts'], function () {
                    const $ = layui.jquery,
                        layer = layui.layer,
                        echarts = layui.echarts;


                    /**
                     * 报表功能
                     */
                    var echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden');

                    var optionRecords = {
                        title: {
                            text: '病例情况'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#1d8884'
                                }
                            }
                        },
                        legend: {
                            data: ['病例名称']
                        },
                        toolbox: {
                            feature: {
                                saveAsImage: {}
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                boundaryGap: false,
                                data: data.bl.map(item => item.name)
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                interval: 1
                            }
                        ],
                        series: [
                            {
                                name: '病历数量',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                data: data.bl.map(item => item.count)
                            }
                        ]
                    };
                    echartsRecords.setOption(optionRecords);

                    const sjList = data.sj || [];
                    const formattedData = sjList.map(item => ({ value: item.count, name: item.name }));
                    console.log(formattedData)
                    /**
                     * 玫瑰图表
                     */
                    var echartsPies = echarts.init(document.getElementById('echarts-pies'), 'walden');
                    var optionPies = {
                        title: {
                            text: '事件分布',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c} ({d}%)'
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left',
                            data: data.sj.map(item => item.name)
                        },
                        series: [
                            {
                                name: '访问来源',
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '60%'],
                                roseType: 'radius',
                                data: formattedData,
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    echartsPies.setOption(optionPies);

                    // echarts 窗口缩放自适应
                    window.onresize = function () {
                        echartsRecords.resize();
                    }




                });
            }
        });
    }

    window.onload = function() {

        sendPrePwdRequest();
    };
</script>
</body>
</html>
